<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });

        $(".select-tags").select2({
            tags: false,
            theme: "bootstrap",
        });

        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
</script>

<form class="form-horizontal" name="newCallCenterForm">
    <br>
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="first-name">{{'phoneLbl' | translate}}</label>
        <input ng-change="checkValidation()" required type="text" class="mat-input form-control" name="phone" numbers-only ng-model="callCenterCtrl.Phone" ng-minlength="10"
            ng-maxlength="50">
        <!-- <span class="error" ng-show="newCallCenterForm.phone.$error.pattern">{{'NotPhoneNumber' | translate}}   </span> -->
        <div ng-messages="newCallCenterForm.phone.$error">
            <div ng-if="newCallCenterForm.phone.$error.required && !newCallCenterForm.phone.$pristine">{{'PhoneReqError' | translate}}
            </div>
            <div ng-if="(newCallCenterForm.phone.$error.minlength || newCallCenterForm.phone.$error.maxlength)">{{'PhoneLengthError' | translate}}</div>
        </div>
        <!-- <div ng-if="callCenterCtrl.validate == false">
            {{'NotFound' | translate}}
        </div> -->
    </div>

    <div class="pmd-modal-action text-left">
        <button style="background-color: #e4e5e6;color: black!important;" ng-disabled="newCallCenterForm.$invalid" class="btn pmd-ripple-effect btn-primary"
            type="button" ng-click="callCenterCtrl.ValidateUser()">{{'ValidateUser' | translate}}</button>
        <!-- <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="callCenterCtrl.close()">{{'DiscardBtn' | translate}}</button> -->
    </div>

    <div class="pmd-card pmd-z-depth pmd-card-custom-view">

        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'userName' | translate}}</th>
                        <th>{{'EmailLbl' | translate}}</th>
                        <th>{{'Phone1Lbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <td data-title="Name" width="20%">{{callCenterCtrl.userOrder.firstName}} {{callCenterCtrl.userOrder.lastName}}</td>
                    <td data-title="Name" width="20%">{{callCenterCtrl.userOrder.email}} </td>
                    <td data-title="phone">{{callCenterCtrl.userOrder.phone}}</td>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <!-- {{callCenterCtrl.orderType.type}} -->
        <!-- <label>
            <input type="radio" ng-model="callCenterCtrl.orderType.type" value="item"> {{'Item' | translate}}
        </label>
        <br/> -->
        <label>
            <input type="radio" ng-model="callCenterCtrl.orderType.type" value="meal"> {{'Meal' | translate}}
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="callCenterCtrl.orderType.type" value="program"> {{'Program' | translate}}
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="callCenterCtrl.orderType.type" value="customizeProgram"> {{'CustomizeProgram' | translate}}
        </label>
        <br/>
    </div>
</form>

<div class="pmd-modal-action text-right">
    <button style="background-color: #e4e5e6;color: black!important;" ng-disabled="(newCallCenterForm.$invalid) || (flag != true)"
        class="btn pmd-ripple-effect btn-primary" type="button" ng-click="callCenterCtrl.MakeOrder()">{{'MakeOrder' | translate}}</button>
    <!-- <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="callCenterCtrl.close()">{{'DiscardBtn' | translate}}</button> -->
</div>