<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });

        $(".select-tags").select2({
            tags: false,
            theme: "bootstrap",
        });

        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });

    $(function () {
        $('#startdate').datetimepicker(
            {
                minDate: new Date()
            }
        ).on('dp.change', function (e) {
            debugger;
            angular.element(document.getElementById('startdate')).scope().dateChange();
        });
    });
</script>

<form class="form-horizontal" name="newProgramForm">
    <div>
        <!-- {{orderCustomizeProgramCtrl.language}} -->
        <!-- <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in orderCustomizeProgramCtrl.language">
                <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                    {{lang.value | translate}}
                </a>
            </li>
        </ul> -->
        <div class="pmd-card">
            <div class="pmd-card-body">
                <!-- <div class="tab-content">
                    <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in orderCustomizeProgramCtrl.language"
                        id="{{lang.value}}-form">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="first-name"> {{ lang.value+'ProgramName' | translate}} </label>
                            <input required Category="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="orderCustomizeProgramCtrl.titleDictionary[lang.key]"
                                ng-minlength="2" ng-maxlength="255">
                            <div ng-messages="newProgramForm.titleDictionary{{lang.value+'Name'}}.$error">
                                <div ng-show="newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newProgramForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                <div ng-show="(newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                            </div>
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="first-name"> {{ lang.value+'ProgramDescription' | translate}} </label>
                            <input required Category="text" class="mat-input form-control" name="descriptionDictionary{{lang.value+'Name'}}" ng-model="orderCustomizeProgramCtrl.descriptionDictionary[lang.key]"
                                ng-minlength="2" ng-maxlength="255">
                            <div ng-messages="newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error">
                                <div ng-show="newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.required && !newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                <div ng-show="(newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.minlength || newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                            </div>
                        </div>
                    </div>

                </div> -->

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'SelectExcludeDays' | translate}}</label>
                    <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple ng-model="orderCustomizeProgramCtrl.SelectedDays"
                        ng-options="day as day.dayNameDictionary[selectedLanguage] for day in orderCustomizeProgramCtrl.dayList">
                    </select>
                </div>

                <!-- <div class="row">
                    <div class="col-md-2 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                        <label for="regular1" class="control-label">{{'orderPickDateTime' | translate}}</label>
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <input ng-model="orderCustomizeProgramCtrl.itemDatetime" type="text" ng-change="orderCustomizeProgramCtrl.dateChange" id="startdate"
                                class="form-control" />
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    
    <button style="background-color: #e4e5e6;color: black!important;" ng-disabled="newProgramForm.$invalid" class="btn pmd-ripple-effect btn-primary"
        type="button" ng-click="orderCustomizeProgramCtrl.gotoStep(2); orderCustomizeProgramCtrl.GetBranchDelivery();">
        {{'next' | translate}}</button>
</form>
<!-- -------------------- -->


<!-- <div>

    <!-- <div style="margin-bottom:10px">
        <h2 class="pmd-card-title-text">{{'AddNew' | translate}}</h2>
    </div> --
    <div>
        <form class="form-horizontal" name="newProgramForm">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in orderCustomizeProgramCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in orderCustomizeProgramCtrl.language"
                                id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'ProgramName' | translate}} </label>
                                    <input required Category="text" class="mat-input form-control" name="titleDictionary{{lang.value+'Name'}}" ng-model="orderCustomizeProgramCtrl.titleDictionary[lang.key]"
                                        ng-minlength="2" ng-maxlength="255">
                                    <div ng-messages="newProgramForm.titleDictionary{{lang.value+'Name'}}.$error">
                                        <div ng-show="newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.required && !newProgramForm.titleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.minlength || newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newProgramForm.titleDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>

                                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'ProgramDescription' | translate}} </label>
                                    <input required Category="text" class="mat-input form-control" name="descriptionDictionary{{lang.value+'Name'}}" ng-model="orderCustomizeProgramCtrl.descriptionDictionary[lang.key]"
                                        ng-minlength="2" ng-maxlength="255">
                                    <div ng-messages="newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error">
                                        <div ng-show="newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.required && !newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.minlength || newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !newProgramForm.descriptionDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError255' | translate}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'ProgramDaysCount' | translate}}</label>
                <input required type="number" class="mat-input form-control" name="programDaysCount" ng-model="orderCustomizeProgramCtrl.ProgramDaysCount"
                    ng-minlength="1" ng-maxlength="2">
                <div ng-messages="newProgramForm.programDaysCount.$error" class="error">
                    <div ng-if="newProgramForm.programDaysCount.$error.required && !newProgramForm.programDaysCount.$pristine">{{'ProgramDaysCountReqError' | translate}}</div>
                    <div ng-if="(newProgramForm.programDaysCount.$error.minlength || newProgramForm.programDaysCount.$error.maxlength)">{{'ProgramDaysCountLengthError' | translate}}</div>
                </div>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'MealPerDay' | translate}}</label>
                <input required type="number" class="mat-input form-control" name="mealPerDay" ng-model="orderCustomizeProgramCtrl.MealPerDay"
                    ng-minlength="1" ng-maxlength="2">
                <div ng-messages="newProgramForm.mealPerDay.$error" class="error">
                    <div ng-if="newProgramForm.mealPerDay.$error.required && !newProgramForm.mealPerDay.$pristine">{{'MealPerDayReqError' | translate}}</div>
                    <div ng-if="(newProgramForm.mealPerDay.$error.minlength || newProgramForm.mealPerDay.$error.maxlength)">{{'MealPerDayLengthError' | translate}}</div>
                </div>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'SelectExcludeDays' | translate}}</label>
                <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple ng-model="orderCustomizeProgramCtrl.SelectedDays"
                    ng-options="day as day.dayNameDictionary[selectedLanguage] for day in orderCustomizeProgramCtrl.dayList">

                </select>
            </div>
            <!-- {{orderCustomizeProgramCtrl.SelectedDays}} --

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'ProgramDiscount' | translate}}</label>
                <input required type="number" ng-change="discountChange();" class="mat-input form-control" name="programDiscount" ng-model="orderCustomizeProgramCtrl.ProgramDiscount"
                    ng-minlength="1" ng-maxlength="5">
                <div ng-messages="newProgramForm.programDiscount.$error" class="error">
                    <div ng-if="newProgramForm.programDiscount.$error.required && !newProgramForm.programDiscount.$pristine">{{'ProgramDiscountReqError' | translate}}</div>
                    <div ng-if="(newProgramForm.programDiscount.$error.minlength || newProgramForm.programDiscount.$error.maxlength)">{{'ProgramDiscountLengthError' | translate}}</div>
                </div>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Breakfast' | translate}}
                    <input type="checkbox" ng-model="orderCustomizeProgramCtrl.IsBreakFast">
                </label>
                <br/>
                <label for="first-name">{{'Snack' | translate}}
                    <input type="checkbox" ng-model="orderCustomizeProgramCtrl.IsSnack">
                </label>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'OrderType' | translate}}</label>
                <br>
                <label>
                    <input type="radio" ng-model="orderCustomizeProgramCtrl.orderType.type" value="delivery"> {{'Deivery' | translate}}
                </label>
                <label style="margin-left:3em">
                    <input type="radio" ng-model="orderCustomizeProgramCtrl.orderType.type" value="pickup"> {{'Pickup' | translate}}
                </label>
                <br/>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Country' | translate}}</label>
                <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderCustomizeProgramCtrl.countryChange()"
                    ng-model="orderCustomizeProgramCtrl.selectedCountryId" ng-options="group.countryId as group.titleDictionary[selectedLanguage] for group in orderCustomizeProgramCtrl.counties">
                </select>
            </div>
            <div ng-show=" orderCustomizeProgramCtrl.selectedCountryId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Region' | translate}}</label>
                <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderCustomizeProgramCtrl.regionChange()"
                    ng-model="orderCustomizeProgramCtrl.selectedRegionId" ng-options="group.regionId as group.titleDictionary[selectedLanguage] for group in orderCustomizeProgramCtrl.regions">
                </select>
            </div>
            <div ng-show=" orderCustomizeProgramCtrl.selectedRegionId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'City' | translate}}</label>
                <select ng-required="orderCustomizeProgramCtrl.selectedRegionId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                    ng-change="orderCustomizeProgramCtrl.cityChange()" ng-model="orderCustomizeProgramCtrl.selectedCityId" ng-options="group.cityId as group.titleDictionary[selectedLanguage] for group in orderCustomizeProgramCtrl.cities">
                </select>
            </div>
            <div ng-show=" orderCustomizeProgramCtrl.selectedCityId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Area' | translate}}</label>
                <select ng-required=" orderCustomizeProgramCtrl.selectedCityId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                    ng-change="orderCustomizeProgramCtrl.areaChange()" ng-model="orderCustomizeProgramCtrl.selectedAreaId" ng-options="group.areaId as group.titleDictionary[selectedLanguage] for group in orderCustomizeProgramCtrl.area">
                </select>
            </div>
            <div ng-show=" orderCustomizeProgramCtrl.selectedAreaId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Branch' | translate}}</label>
                <select ng-required=" orderCustomizeProgramCtrl.selectedAreaId > 0 " class="form-control select-with-search pmd-select2-tags"
                    ng-change="orderCustomizeProgramCtrl.branchChange()" ng-model="orderCustomizeProgramCtrl.selectedBranchId"
                    ng-options="a.branchId as a.titleDictionary[selectedLanguage] for a in orderCustomizeProgramCtrl.branchList"></select>
            </div>

        </form>
    </div>
</div> -->