<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });

        $(".select-tags").select2({
            tags: false,
            theme: "bootstrap",
        });

        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });

    $(function () {
        $('#startdate').datetimepicker(
            {
                minDate: new Date()
            }
        ).on('dp.change', function (e) {
            debugger;
            angular.element(document.getElementById('startdate')).scope().dateChange();
        });
    });
</script>

<form name="orderProgramForm">
    {{'CheckProgramContent' | translate}}
    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'SelectProgram' | translate}}</label>
        <!-- <select style="width:100% !important" class="form-control" ng-model="orderProgramsCtrl.program"
        ng-change="orderProgramsCtrl.programSearch()" ng-options="program as program.programNameDictionary[selectedLanguage] for program  in programsPrepService.results">
    </select> -->

        <select style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderProgramsCtrl.programSearch();"
            ng-model="orderProgramsCtrl.program" ng-options="program as program.programNameDictionary[selectedLanguage] for program  in programsPrepService.results">
        </select>
    </div>

    <div ng-if="orderProgramsCtrl.flag == true" ng-init="counterDay = 0; counterMeal = 0">
        <div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6" role="tablist" aria-multiselectable="true">
            <!-- {{orderProgramsCtrl.mealItemss.programDays}} / {{orderProgramsCtrl.mealItemss.noOfMeals}} -->
            <div ng-repeat="n in [].constructor(orderProgramsCtrl.mealItemss.programDays)  track by $index" class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a ng-init="counterDay=counterDay+1;" data-toggle="collapse" data-parent="#accordion6" ng-init="n=false" ng-click="n=!n;"
                            aria-expanded="true" aria-controls="collapseOne6" data-expandable="false">
                            {{'Day' | translate}} #{{counterDay=$index+1}}
                            <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                        </a>
                    </h4>
                </div>
                <div ng-show="n == true" id="collapseOne6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="meal in [].constructor(orderProgramsCtrl.mealItemss.noOfMeals)  track by $index">
                                <h4>
                                    <a ng-init="counterMeal=counterMeal+1;" ng-click="showDetails = ! showDetails; orderProgramsCtrl.showDDL(); ">{{'Meal' | translate}} #{{counterMeal=$index+1}}</a>
                                    <!-- <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="orderProgramsCtrl.ShowProgramMeal(orderProgramsCtrl.mealItemss.programId, counterDay, counterMeal)">mode_edit</i> -->
                                    <!-- {{orderProgramsCtrl.mealItemss.programId}}, {{counterDay}}, {{counterMeal}} -->
                                </h4>
                                <div ng-show="showDetails">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                        <label for="first-name">{{'SelectItems' | translate}}</label>
                                        <ul>
                                            <li ng-repeat="detail in orderProgramsCtrl.mealItemss.programDetails | filter:{dayNumber:counterDay, mealNumberPerDay: counterMeal} ">
                                                <div ng-repeat="item in orderProgramsCtrl.mealItemss.items |filter :{itemId:detail.itemId}">
                                                    {{item.itemNameDictionary[selectedLanguage]}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <table style="background: white" ng-show="orderProgramsCtrl.flag == true" class="table pmd-table table-hover">
    <thead>
        <tr>
            <th>{{'ItemName' | translate}}</th>
            <th>{{'ItemDescription' | translate}}</th>
            <th>{{'Calories' | translate}}</th>
            <th>{{'Protein' | translate}}</th>
            <th>{{'Carbs' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in orderProgramsCtrl.mealItemss.items">
            <td data-title="Name">{{item.itemNameDictionary[selectedLanguage]}}</td>
            <td data-title="Name">{{item.itemDescriptionDictionary[selectedLanguage]}}</td>
            <td data-title="Name">{{item.calories}}</td>
            <td data-title="Name">{{item.protein}}</td>
            <td data-title="Name">{{item.carbs}}</td>

        </tr>
    </tbody>
</table> -->

    <hr> {{'OrderProgram' | translate}}

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'SelectPrograms' | translate}}</label>
        <select required style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" ng-model="itemModel"
            ng-change="getData(itemModel)" ng-options="item as item.programNameDictionary[selectedLanguage]
            for item  in programsPrepService.results">
        </select>
    </div>

    <div class="row">
        <div class="col-md-2 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="regular1" class="control-label">{{'orderPickDateTime' | translate}}</label>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <input ng-model="orderProgramsCtrl.itemDatetime" type="text" ng-change="orderProgramsCtrl.dateChange" id="startdate" class="form-control"
                />
            </div>
        </div>
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'OrderType' | translate}}</label>
        <label>
            <input type="radio" ng-model="orderProgramsCtrl.orderType.type" value="delivery"> {{'Deivery' | translate}}
        </label>
        <label style="margin-left:3em">
            <input type="radio" ng-model="orderProgramsCtrl.orderType.type" value="pickup"> {{'Pickup' | translate}}
        </label>
        <br/>
    </div>

    <!-- {{orderProgramsCtrl.userAddresses.length}} -->
    <div ng-if="orderProgramsCtrl.orderType.type == 'delivery'">
        <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'SelectAddress' | translate}}</label>

            <div ng-repeat="address in orderProgramsCtrl.userAddresses">
                <!-- {{orderProgramsCtrl.addresses.address}} -->
                <label>
                    <input ng-change="orderProgramsCtrl.addressInfo(address)" type="radio" ng-model="orderProgramsCtrl.addresses.address" value="{{address.addressId}}"> {{address.appartmentNo}}, {{address.description}}, {{'Floor' | translate}} {{address.floor}}
                    <!-- {{addressInfo}} -->
                </label>
            </div>

            <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Country' | translate}}</label>
                <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderProgramsCtrl.countryChange()"
                    ng-model="orderProgramsCtrl.selectedCountryId" ng-options="group.countryId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.counties">
                </select>
            </div>
            <div ng-show=" orderProgramsCtrl.selectedCountryId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Region' | translate}}</label>
                <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderProgramsCtrl.regionChange()"
                    ng-model="orderProgramsCtrl.selectedRegionId" ng-options="group.regionId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.regions">
                </select>
            </div>
            <div ng-show=" orderProgramsCtrl.selectedRegionId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'City' | translate}}</label>
                <select ng-required="orderProgramsCtrl.selectedRegionId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                    ng-change="orderProgramsCtrl.cityChange()" ng-model="orderProgramsCtrl.selectedCityId" ng-options="group.cityId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.cities">
                </select>
            </div>
            <div ng-show=" orderProgramsCtrl.selectedCityId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Area' | translate}}</label>
                <select ng-required=" orderProgramsCtrl.selectedCityId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                    ng-change="orderProgramsCtrl.areaChange()" ng-model="orderProgramsCtrl.selectedAreaId" ng-options="group.areaId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.area">
                </select>
            </div>
            <div ng-show=" orderProgramsCtrl.selectedAreaId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'Branch' | translate}}</label>
                <select ng-required=" orderProgramsCtrl.selectedAreaId > 0 " class="form-control select-with-search pmd-select2-tags" ng-change="orderProgramsCtrl.branchChange()"
                    ng-model="orderProgramsCtrl.selectedBranchId" ng-options="a.branchId as a.titleDictionary[selectedLanguage] for a in orderProgramsCtrl.branchList"></select>
            </div>
        </div> -->
    </div>


    <div ng-if="orderProgramsCtrl.orderType.type == 'pickup'">
        <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'Country' | translate}}</label>
            <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderProgramsCtrl.countryChange()"
                ng-model="orderProgramsCtrl.selectedCountryId" ng-options="group.countryId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.counties">
            </select>
        </div>
        <div ng-show=" orderProgramsCtrl.selectedCountryId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'Region' | translate}}</label>
            <select required style="width:100% !important" class="select-tags form-control pmd-select2-tags" ng-change="orderProgramsCtrl.regionChange()"
                ng-model="orderProgramsCtrl.selectedRegionId" ng-options="group.regionId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.regions">
            </select>
        </div>
        <div ng-show=" orderProgramsCtrl.selectedRegionId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'City' | translate}}</label>
            <select ng-required="orderProgramsCtrl.selectedRegionId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                ng-change="orderProgramsCtrl.cityChange()" ng-model="orderProgramsCtrl.selectedCityId" ng-options="group.cityId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.cities">
            </select>
        </div>
        <div ng-show=" orderProgramsCtrl.selectedCityId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'Area' | translate}}</label>
            <select ng-required=" orderProgramsCtrl.selectedCityId > 0" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                ng-change="orderProgramsCtrl.areaChange()" ng-model="orderProgramsCtrl.selectedAreaId" ng-options="group.areaId as group.titleDictionary[selectedLanguage] for group in orderProgramsCtrl.area">
            </select>
        </div>
        <div ng-show=" orderProgramsCtrl.selectedAreaId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'Branch' | translate}}</label>
            <select ng-required=" orderProgramsCtrl.selectedAreaId > 0 " class="form-control select-with-search pmd-select2-tags" ng-change="orderProgramsCtrl.branchChange()"
                ng-model="orderProgramsCtrl.selectedBranchId" ng-options="a.branchId as a.titleDictionary[selectedLanguage] for a in orderProgramsCtrl.branchList"></select>
        </div>

    </div>

    <div class="pmd-modal-action text-right">
        <button ng-disabled="orderProgramForm.$invalid || !orderProgramsCtrl.dateIsValid" style="background-color: #e4e5e6;color: black!important;"
            class="btn pmd-ripple-effect btn-primary" type="button" ng-click="orderProgramsCtrl.Order()">{{'Order' | translate}}</button>
    </div>
</form>