<div class="modal-content">
	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'UpdateItemLbl' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="editItemForm">

			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editItemCtrl.language">
						<a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
							data-toggle="tab">
							{{lang.value | translate}}
						</a>
					</li>
				</ul>
				<div class="pmd-card">
					<div class="pmd-card-body">
						<div class="tab-content">
							<div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
								ng-repeat="lang in editItemCtrl.language" id="{{lang.value}}-form">
								<div
									class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
									<label for="first-name"> {{ lang.value+'Name' | translate}} </label>
									<input required type="text" class="mat-input form-control"
										name="itemNameDictionary{{lang.value+'Name'}}"
										ng-model="editItemCtrl.item.itemNameDictionary[lang.key]" ng-minlength="3"
										ng-maxlength="100">
									<div ng-messages="editItemForm.itemNameDictionary{{lang.value+'Name'}}.$error">
										<div
											ng-show="editItemForm.itemNameDictionary{{lang.value+'Name'}}.$error.required && !editItemForm.itemNameDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr'
											| translate}}</div>
										<div
											ng-show="(editItemForm.itemNameDictionary{{lang.value+'Name'}}.$error.minlength || editItemForm.itemNameDictionary{{lang.value+'Name'}}.$error.maxlength) && !editItemForm.itemNameDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError'
											| translate}}</div>
									</div>
								</div>
								<div
									class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
									<label for="first-name">{{ lang.value+'DescriptionLbl' | translate}}</label>
									<textarea required class="form-control"
										name="itemDescriptionDictionary{{lang.value+'Name'}}"
										ng-model="editItemCtrl.item.itemDescriptionDictionary[lang.key]"
										ng-minlength="3" ng-maxlength="300"></textarea>
									<div
										ng-messages="editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$error">
										<div
											ng-show="editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$error.required && !editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr'
											| translate}}</div>
										<div
											ng-show="(editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$error.minlength || editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$error.maxlength) && !editItemForm.itemDescriptionDictionary{{lang.value+'Name'}}.$error.required">{{'DescLengthError'
											| translate}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'itemSize' | translate}} </label>
					<input type="number" class="mat-input form-control" name="itemSize"
						ng-model="editItemCtrl.item.itemSize" min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.itemSize.$error">

						<div ng-if="editItemForm.itemSize.$error.maxlength">{{'itemSizeLengthError' | translate}}</div>
					</div>
				</div>

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'fat' | translate}} </label>
					<input type="number" class="mat-input form-control" name="fat" ng-model="editItemCtrl.item.fat"
						min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.fat.$error">
						<div ng-if="editItemForm.fat.$error.maxlength">{{'fatLengthError' | translate}}</div>
					</div>
				</div>



				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'carbs' | translate}} </label>
					<input type="number" class="mat-input form-control" name="carbs" ng-model="editItemCtrl.item.carbs"
						min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.carbs.$error">
						<div ng-if="editItemForm.carbs.$error.maxlength">{{'carbsLengthError' | translate}}</div>
					</div>
				</div>

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'calories' | translate}} </label>
					<input type="number" class="mat-input form-control" name="calories"
						ng-model="editItemCtrl.item.calories" min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.calories.$error">
						<div ng-if="editItemForm.calories.$error.maxlength">{{'caloriesLengthError' | translate}}</div>
					</div>
				</div>


				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'protein' | translate}} </label>
					<input type="number" class="mat-input form-control" name="protein"
						ng-model="editItemCtrl.item.protein" min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.protein.$error">
						<div ng-if="editItemForm.protein.$error.maxlength">{{'proteinLengthError' | translate}}</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'costlbl' | translate}} </label>
					<input type="number" class="mat-input form-control" name="cost" required
						ng-model="editItemCtrl.item.cost" min="1" ng-maxlength="12">
					<div ng-messages="editItemForm.cost.$error">
						<div ng-if="editItemForm.cost.$error.required && !editItemForm.cost.$pristine">
							{{'requiredErr' | translate}}</div>
						<div ng-if="editItemForm.cost.$error.maxlength">{{'costLengthError' | translate}}</div>
					</div>
				</div>

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'Pricelbl' | translate}} </label>
					<input type="number" ng-change="editItemCtrl.calclulate()" class="mat-input form-control" required
						name="price" ng-model="editItemCtrl.item.price" min="1" ng-maxlength="12">
					<div ng-messages="editItemForm.price.$error">
						<div ng-if="editItemForm.price.$error.required && !editItemForm.price.$pristine">
							{{'requiredErr' | translate}}</div>
						<div ng-if="editItemForm.price.$error.maxlength">{{'PriceLengthError' | translate}}</div>
					</div>
				</div>

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">

					<label for="first-name">{{'vat' | translate}} </label>
					<input type="number" ng-change="editItemCtrl.calclulate()" class="mat-input form-control" name="vat"
						ng-model="editItemCtrl.item.vat" min="0" ng-maxlength="5">
					<div ng-messages="editItemForm.vat.$error">
						<div ng-if="editItemForm.vat.$error.maxlength">{{'vatLengthError' | translate}}</div>
					</div>
				</div>

				<div
					class="col-md-3 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
					<label for="first-name">{{'Total' | translate}} </label>
					<input type="number" readonly class="mat-input form-control" name="totalPrice" required
						ng-model="editItemCtrl.item.totalPrice" min="1" ng-maxlength="12">
					<div ng-messages="editItemForm.totalPrice.$error">
						<div ng-if="editItemForm.totalPrice.$error.required && !editItemForm.totalPrice.$pristine">{{'requiredErr' |
							translate}}</div>
						<div ng-if="editItemForm.totalPrice.$error.maxlength">{{'totalPriceLengthError' | translate}}
						</div>
					</div>
				</div>
			</div>

			<div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
				<input id="itemImage" name="itemImage" style="display: none;"
					onchange="angular.element(this).scope().AddItemImage(this.files)" type="file">
				<button ng-click="editItemCtrl.LoadUploadLogo()">{{'UploadImageBtn' | translate}}</button>
				<span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
					{{'RecommendedItemImage1' | translate}}</span>
				<img ng-show="editItemCtrl.item.imageUrl != null " ng-src="{{editItemCtrl.item.imageUrl}}"
					style="max-height: 200px;max-width: 200px;">

			</div>


		</form>
	</div>
	<div class="pmd-modal-action text-right">

		<button style="background-color: #e4e5e6;color: black!important;"
			ng-disabled="editItemForm.$invalid || editItemCtrl.disable" class="btn pmd-ripple-effect btn-primary"
			type="button" ng-click="editItemCtrl.updateItem()">{{'saveChangesBtn'
			|
			translate}}</button>
		<button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editItemCtrl.close()">{{'DiscardBtn' |
			translate}}</button>
	</div>
</div>