################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.mdf
*.ldf
*.mdf

*.ldf
 
*.suo
bin/
Frameworks/
FitHouse/FitHouse.API/App_Data/FitHouse.mdf
FitHouse/FitHouse.API/App_Data/FitHouse_log.ldf
*.ldf
