<style>
    .container {
    width: 50px;
    margin: 50px auto;
}
.btn-isActive {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    cursor: pointer;
    background-color: #F27878;
    border: 2px solid #F27878;
    border-radius: 40px;
    
}
    .btn-isActive-circle {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 40px;
    }

.btn-isActive--on {
    background-color: #80CDBE;
    border: 2px solid #80CDBE;
    
}
    .btn-isActive-circle--on {
        left: auto;
        right: 0;
    }
</style>
<div>
    <div ncy-breadcrumb></div>
    <div style="margin-bottom:10px">
        <button ng-click="$state.go('newCategory');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew'
            | translate}}</button>

    </div>
    <div ng-if="CategoryList.results.length == 0">
        <span>{{'NoCategorysAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="CategoryList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Category in CategoryList.results">
                    <td data-title="Name">{{Category.titleDictionary[selectedLanguage]}}</td>
                    <td>

                        <div class="btn-isActive" ng-class="{'btn-isActive--on':toggle.isActive}" ng-model="Category.isActive"
                            ng-click="Category.isActive = !Category.isActive">

                            <div class="btn-isActive-circle" ng-class="{'btn-isActive-circle--on':Category.isActive}"
                             ng-model="Category.isActive" ng-click="!Category.isActive = Category.isActive"></div>

                            <!--                             
                            <a class="btn pull-right" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!Category.isActive]"
                            ng-click="Category.isActive = !Category.isActive">
                            {{!Category.isActive && 'isActive' || 'UnisActive'}} patient
                        </a> -->
                    </td>
                    <td width="30%" ng-show="!Category.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCategory',{categoryId: Category.categoryId});">mode_edit</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>