<script>
    $(function () {
        $('#startdate').datetimepicker({
            widgetPositioning: { vertical: "top" },//,inline:true,sideBySide:true,

            minDate: new Date()
        }
        ).on('dp.change', function (e) {
            // debugger;
            angular.element(document.getElementById('startdate')).scope().dateChange();
        });
    });
</script>
<div class="hp-banner">
    <img src="images/detailed-banner.jpg" alt=""> </div>

<div class="hom-com">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="hp-section">
                        <div class="hp-sub-tit">
                            <h4>
                                <span>{{mealPrepService.mealNameDictionary[selectedLanguage]}}</span>
                            </h4>

                        </div>
                        <!-- <div class="hp-amini detai-2p">
                            <p>{{mealPrepService.mealDescriptionDictionary[selectedLanguage]}}</p>
                        </div> -->
                    </div>

                    <div class="hp-section" style="overflow: unset !important">
                        <div class="hp-sub-tit">
                            <h4>
                                <span>{{'MealDetails' | translate}}</span>
                            </h4>
                            <!-- <p>Aliquam id tempor sem. Cras molestie risus et lobortis congue. Donec id est consectetur,
                                        cursus tellus at, mattis lacus.</p> -->
                        </div>
                        <div class="hp-over">
                            <ul class="nav nav-tabs hp-over-nav">
                                <li class="active">
                                    <a data-toggle="tab" data-target="#home" style="cursor: pointer;">
                                        <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                        <span>{{'Details' | translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" data-target="#menu1" style="cursor: pointer;">
                                        <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                        <span>{{'Summary' | translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" data-target="#menu2" style="cursor: pointer;">
                                        <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                        <span>{{'Order' | translate}}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active tab-space">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                        <label for="first-name">{{'Item' | translate}}</label>
                                        <ul>
                                            <li ng-repeat="detail in mealPrepService.mealDetails">
                                                <!-- {{detail}} -->
                                                <div class="res-menu">
                                                    <!-- {{item.itemNameDictionary[selectedLanguage]}} -->
                                                    <img src={{detail.itemSize.imageUrl}} imageonload alt="">
                                                    <h3> {{detail.itemSize.itemNameDictionary[selectedLanguage]}}
                                                        <!-- <span>{{detail.item.totalPrice}}</span> -->
                                                        <span>{{detail.itemSize.sizeNameDictionary[selectedLanguage]}}</span>
                                                    </h3>
                                                    <span class="menu-item">{{detail.itemSize.itemDescriptionDictionary[selectedLanguage]
                                                        }}</span>
                                                    <span> {{'fat' | translate}}:{{detail.itemSize.fat}}</span>
                                                    <span> {{'carbs' | translate}}:{{detail.itemSize.carbs}}</span>
                                                    <span> {{'protein' | translate}}:{{detail.itemSize.protein}}</span>
                                                    <span> {{'calories' | translate}}:{{detail.itemSize.calories}}</span>
                                                    <!-- <span>
                                                        {{'itemSize' |
                                                        translate}}:{{detail.itemSize.sizeNameDictionary[selectedLanguage]}}</span> -->
                                                    <!-- | limitTo:10 -->
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade in   tab-space">
                                    <div class="hp-main-overview">
                                        <ul>
                                            <li>{{'fat' | translate}}:
                                                <span>{{fats}}</span>
                                            </li>
                                            <li>{{'carbs' | translate}}:
                                                <span>{{carbs}}</span>
                                            </li>
                                            <li>{{'protein' | translate}}:
                                                <span>{{protein}}</span>
                                            </li>
                                            <li>{{'calories' | translate}}:
                                                <span>{{calories}}</span>
                                            </li>
                                            <li>{{'Total' | translate}}:
                                                <span style="width: 74px !important;" class="ov-yes">{{mealPrepService.mealPrice}}
                                                    SR</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade in   tab-space">
                                    <form name="orderForm">
                                        <!-- {{itemDatetime}} -->
                                        <div class="col-md-6">
                                            <h5>{{'startDate' | translate}}</h5>
                                            <input name="itemDatetime" ng-model="itemDatetime" type="text" id="startdate"
                                                class="form-control" ng-change="dateChange();" />
                                        </div>


                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <select style="width:100% !important" required class=" select-tags form-control pmd-select2-tags"
                                                        name="country" ng-change="countryChange()" ng-model="selectedCountryId"
                                                        ng-options="group.countryId as group.titleDictionary[selectedLanguage] for group in counties">
                                                    </select>
                                                </div>
                                                <div class="input-field col s6" ng-show="selectedCountryId > 0">
                                                    <select style="width:100% !important" ng-required="selectedCountryId > 0"
                                                        class="select-tags form-control pmd-select2-tags" ng-change="regionChange()"
                                                        ng-model="selectedRegionId" ng-options="group.regionId as group.titleDictionary[selectedLanguage] for group in regions">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s6" ng-show="selectedRegionId > 0">
                                                    <select ng-required="selectedRegionId > 0" style="width:100% !important"
                                                        class="select-tags form-control pmd-select2-tags" ng-change="cityChange()"
                                                        ng-model="selectedCityId" ng-options="group.cityId as group.titleDictionary[selectedLanguage] for group in cities">
                                                    </select>
                                                </div>
                                                <div class="input-field col s6" ng-show="selectedCityId > 0">
                                                    <select ng-required="selectedCityId > 0" style="width:100% !important"
                                                        class="select-tags form-control pmd-select2-tags" ng-change="areaChange()"
                                                        ng-model="selectedAreaId" ng-options="group.areaId as group.titleDictionary[selectedLanguage] for group in area">
                                                    </select>
                                                </div>
                                                <div class="input-field col s6" ng-show="selectedAreaId > 0">
                                                    <select ng-required="selectedAreaId > 0" style="width:100% !important"
                                                        class="select-tags form-control pmd-select2-tags" ng-change="branchChange()"
                                                        ng-model="selectedBranchId" ng-options="group.branchId as group.titleDictionary[selectedLanguage] for group in branchList">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m4 l2">
                                                <!-- <input type="submit" class="form-btn" ng-click="Order()"
                                                        ng-disabled="orderForm.$invalid"> -->
                                                <!-- ng-disabled="orderForm.$invalid || addressValidation == false">   -->
                                                <!-- ng-disabled="orderForm.$invalid || !dateIsValid || addressValidation == false" -->


                                                {{'Pricelbl' | translate}}:{{ mealPrepService.mealPrice}} SR
                                                <br>
                                                <!-- {{areaChanged}} -->
                                                {{orderForm.$invalid}}
                                                {{dateIsValid}}<button style="background-color: #e4e5e6;color: black!important;"
                                                    ng-disabled="areaChanged == false || orderForm.$invalid || selectedBranchId <= 0 || !dateIsValid"
                                                    class="btn pmd-ripple-effect btn-primary" type="button" ng-click="Order();">
                                                    {{'Order' | translate}}</button>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--END HEADER SECTION-->