
<div>
        <div ncy-breadcrumb></div>  
    <div style="margin-bottom:10px">
        <button  style="background-image: linear-gradient(251deg,#f3c534 5%,#9a3ea6 68%)!important;" ng-click="$state.go('newCity',{ countryId: $stateParams.countryId,regionId: $stateParams.regionId });" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>
        
    </div> 
    <div ng-if="Cities.results.length == 0">
        <span>{{'NoCitiesAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="Cities.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="city in Cities.results">
                    <td data-title="Name">{{city.titleDictionary[selectedLanguage]}}</td> 
                    <td>
                        <button style="background-image: linear-gradient(251deg,#f3c534 5%,#9a3ea6 68%)!important;" ng-click="$state.go('Area',{countryId: $stateParams.countryId,regionId: $stateParams.regionId,cityId:city.cityId});" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'viewAreas' | translate}}</button>
                      </td>
                   
                    <td width="30%" >
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCity',{countryId: $stateParams.countryId,regionId: $stateParams.regionId,cityId: city.cityId});">mode_edit</i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
         flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>
