 
<div class="inn-body-section pad-bot-55">
    <div class="container">

        <div class="row">
            <!--TYPOGRAPHY SECTION-->
            <div class="col-md-12">
                <div class="head-typo typo-com">
                    <h3>{{'OrderHistory' | translate}}</h3>

                    <div ng-if="OrderList.results.length == 0">
                        <span>{{'NoOrdersAvailable' | translate}}</span>
                    </div>
                    <div class="table-responsive" ng-if="OrderList.results.length > 0">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'OrderCode' | translate}}</th>
                                    <th>{{'Date' | translate}}</th>
                                    <th>{{'startDate' | translate}}</th>
                                    <th>{{'Price' | translate}}</th>
                                    <th>{{'Delvery/Takeaway' | translate}}</th>
                                    <th>{{'Ordertype' | translate}}</th>
                                    <th>{{'status' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in OrderList.results">
                                    <td data-title="Name">#{{order.orderCode}} </td>

                                    <td data-title="Name">{{order.orderDate | date : "d/MMM/yy h:mm a" }} </td>
                                    <td data-title="Name">{{order.orderStartDate | date : "d/MMM/yy h:mm a"}} </td>
                                    <td data-title="Name"> 
                                        <h4>{{ order.price}}</h4>
                                    </td>
                                    <td data-title="Name">
                                        <img ng-if="order.isDelivery == true" src="assets\img\delivery.png"
                                            title="delivery">
                                        <img ng-if="order.isDelivery == false" src="assets\img\takeaway.png"
                                            title="take away" style="width: 44px;height: 39px;">
                                    </td>

                                    <td data-title="Name">
                                        <img ng-if="order.type == 0" src="assets\img\program.png" title="program">
                                        <img ng-if="order.type == 1" src="assets\img\meal.png" title="meal">
                                        <img ng-if="order.type == 2" src="assets\img\item.png" title="item">
                                    </td>
                                    <td data-title="orderStatus"> 
                                        <span class="ov-yes" ng-if="order.orderStatus == 0"> {{'Open' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 1">{{'Pending' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 2">{{'Prepering' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 3">{{'OnTheWay' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 4">{{'Deliverd' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 5">{{'NotDeliverd' | translate}}</span>
                                        <span class="ov-yes" ng-if="order.orderStatus == 6">{{'KitchenFinished' | translate}}</span>
                                    </td>
                                    
                                    <td> <a ng-if="!order.isProgram" style="cursor: pointer;"
                                            ng-click="$state.go('orderDetails', {id: order.orderDetails[0].mealId});"
                                            class="cursorPointer">{{'ItemsBtn'|translate}}</a>
                                        <a ng-if="order.isProgram" style="cursor: pointer;"
                                            ng-click="$state.go('orderProgramDetails', {programId: order.orderDetails[0].programId});"
                                            class="cursorPointer">{{'ItemsBtn'|translate}}</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
                        paging-action="changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
                        hide-if-empty="true" disabled-class="hide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>