<!-- <div class="inn-body-section pad-bot-55"> -->
<div class="hom-com ng-scope">
    <div class="container">

        <div class="row">
            <!--TYPOGRAPHY SECTION-->
            <div class="col-md-12">
                <div class="hp-section">
                    <div class="hp-sub-tit">
                        <h4>
                            <span>{{'orderdetails' | translate}}</span>
                        </h4>
                    </div>
                    <div class="hp-over">
                        <ul class="nav nav-tabs hp-over-nav">
                            <li class="active">
                                <a data-toggle="tab" data-target="#home" style="cursor: pointer;">
                                    <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                    <span>{{'orderdetails' | translate}}</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#menu1" style="cursor: pointer;">
                                    <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                    <span>{{'Summary' | translate}}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active tab-space">
                                <div
                                    class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                    <label for="first-name">{{'Item' | translate}}</label>
                                    <ul>
                                        <li ng-repeat="detail in OrderMealPrepService.mealDetails">
                                            <!-- {{detail}} -->
                                            <div class="res-menu">
                                                <!-- {{item.itemNameDictionary[selectedLanguage]}} -->
                                                <img src={{detail.itemSize.imageUrl}} imageonload alt="">
                                                <h3> {{detail.itemSize.itemNameDictionary[selectedLanguage]}}
                                                    <!-- <span>{{detail.item.totalPrice}}</span> -->
                                                    <span>{{detail.itemSize.sizeNameDictionary[selectedLanguage]}}</span>
                                                </h3>
                                                <span
                                                    class="menu-item">{{detail.itemSize.itemDescriptionDictionary[selectedLanguage] }}</span>
                                                <span> {{'fat' | translate}}:{{detail.itemSize.fat}}</span>
                                                <span> {{'carbs' | translate}}:{{detail.itemSize.carbs}}</span>
                                                <span> {{'protein' | translate}}:{{detail.itemSize.protein}}</span>
                                                <span> {{'calories' | translate}}:{{detail.itemSize.calories}}</span>
                                                
                                                <!-- <span>
                                                        {{'itemSize' |
                                                        translate}}:{{detail.itemSize.sizeNameDictionary[selectedLanguage]}}</span> -->
                                                <!-- | limitTo:10 -->
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade in   tab-space">
                                <div class="hp-main-overview">
                                    <ul>
                                        <li>{{'fat' | translate}}:
                                            <span>{{fats}}</span>
                                        </li>
                                        <li>{{'carbs' | translate}}:
                                            <span>{{carbs}}</span>
                                        </li>
                                        <li>{{'protein' | translate}}:
                                            <span>{{protein}}</span>
                                        </li>
                                        <li>{{'calories' | translate}}:
                                            <span>{{calories}}</span>
                                        </li>
                                        <li>{{'Total' | translate}}:
                                            <span style="width: 74px !important;"
                                                class="ov-yes">{{OrderMealPrepService.mealPrice}} SR</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>