<!-- <div class="inn-body-section pad-bot-55"> -->
<div class="hom-com ng-scope">
    <div class="container">

        <div class="row">
            <!--TYPOGRAPHY SECTION-->
            <div class="col-md-12">
                <div class="hp-section">
                    <div class="hp-sub-tit">
                        <h4>
                            <span>{{'orderdetails' | translate}}</span>
                        </h4>
                    </div>
                    <div class="hp-over">
                        <ul class="nav nav-tabs hp-over-nav">
                            <li class="active">
                                <a data-toggle="tab" data-target="#home" style="cursor: pointer;">
                                    <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                    <span>{{'orderdetails' | translate}}</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" data-target="#menu1" style="cursor: pointer;">
                                    <!-- <img src="/assets/img/cropped-favicon-32x32.png" alt=""> -->
                                    <span>{{'Summary' | translate}}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active tab-space">
                                <div ng-init="counterDay = 0; counterMeal = 0">
                                    <div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6"
                                        role="tablist" aria-multiselectable="true">
                                        <div ng-repeat="n in [].constructor(OrderprogDetailsPrepService.programDays)  track by $index"
                                            class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne"
                                                ng-init="counterDay=counterDay+1;" data-toggle="collapse"
                                                data-parent="#accordion6" ng-init="n=false" ng-click="n=!n;"
                                                aria-expanded="true" aria-controls="collapseOne6"
                                                data-expandable="false">
                                                <h4 class="panel-title">
                                                    <a>
                                                        {{'Day' | translate}} {{counterDay=$index+1}}
                                                        <i
                                                            class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div ng-show="n == true" id="collapseOne6"
                                                class="panel-collapse collapse in" role="tabpanel"
                                                aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <ul>

                                                        <li
                                                            ng-repeat="meal in [].constructor(OrderprogDetailsPrepService.noOfMeals)  track by $index">
                                                            <h4>
                                                                <a ng-init="counterMeal=counterMeal+1;"
                                                                    ng-click="showDetails = ! showDetails;">{{'Meals' | translate}}
                                                                    {{counterMeal=$index+1}}</a>
                                                                <!-- <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="OrderprogDetailsPrepService.ShowProgramMeal(OrderprogDetailsPrepService.programDetails.programId, counterDay, counterMeal)">mode_edit</i> -->
                                                            </h4>
                                                            <div ng-show="showDetails">
                                                                <div
                                                                    class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                    <label
                                                                        for="first-name">{{'Item' | translate}}</label>
                                                                    <ul>
                                                                        <li
                                                                            ng-repeat="detail in OrderprogDetailsPrepService.programDetails | filter:{dayNumber:counterDay, mealNumberPerDay: counterMeal} :true">
                                                                            <div class="res-menu">
                                                                                <!-- {{item.itemNameDictionary[selectedLanguage]}} -->
                                                                                <img src={{detail.item.imageUrl}}
                                                                                    imageonload alt="">

                                                                                <h3> {{detail.item.itemNameDictionary[selectedLanguage]}}
                                                                                    <span>{{detail.item.totalPrice}}</span>
                                                                                </h3>
                                                                                <span
                                                                                    class="menu-item">{{detail.item.itemDescriptionDictionary[selectedLanguage]}}</span>
                                                                                <span>
                                                                                    {{'fat' | translate}}:{{detail.item.fat}}</span>
                                                                                <span>
                                                                                    {{'carbs' | translate}}:{{detail.item.carbs}}</span>
                                                                                <span>
                                                                                    {{'protein' | translate}}:{{detail.item.protein}}</span>
                                                                                <span>
                                                                                    {{'calories' | translate}}:{{detail.item.calories}}</span>
                                                                            </div>

                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade in   tab-space">
                                <div class="hp-main-overview">
                                     <ul>
                                        <li>{{'fat' | translate}}:
                                            <span>{{fats}}</span>
                                        </li>
                                        <li>{{'carbs' | translate}}:
                                            <span>{{carbs}}</span>
                                        </li>
                                        <li>{{'protein' | translate}}:
                                            <span>{{protein}}</span>
                                        </li>
                                        <li>{{'calories' | translate}}:
                                            <span>{{calories}}</span>
                                        </li>
                                        <li>{{'Total' | translate}}:
                                            <span class="ov-yes">{{OrderprogDetailsPrepService.price}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>