<!--TOP BANNER-->
<div class="inn-banner">
    <div class="container">
        <div class="row">
            <h4>Hotel Events</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet.
                <p>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Custom</a>
                        </li>
                    </ul>
        </div>
    </div>
</div>
<!--TOP SECTION-->
<div class="inn-body-section pad-bot-55">
    <div class="container">
        <div class="row">
            <div class="page-head">
                <h4>Program Details</h4>
                <div class="head-title">
                    <div class="hl-1"></div>
                    <div class="hl-2"></div>
                    <div class="hl-3"></div>
                </div>
            </div>
            <!--TYPOGRAPHY SECTION-->

            <form name="stepTwoProgramForm">
                <div class="head-typo typo-com collap-expand">
                    <h4>Days</h4>
                    <span>carbs: {{CustomCtrl.carbs}}</span>
                    <span>carbs: {{CustomCtrl.fat}}</span>
                    <span>calories: {{CustomCtrl.calories}}</span>
                    <span>protein: {{CustomCtrl.protein}}</span>
                    <span>cost: {{CustomCtrl.cost}}</span>
                    <div ng-init="counterDay = 0; counterMeal = 0">
                        <div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6" role="tablist"
                            aria-multiselectable="true">
                            <div ng-repeat="n in [].constructor(CustomCtrl.daysCount)  track by $index"
                                class="panel panel-default">
                                <a ng-init="counterDay=counterDay+1;" data-toggle="collapse" data-parent="#accordion6"
                                    ng-init="n=false"
                                    ng-click="n=!n;showDetails = ! showDetails; CustomCtrl.showDDL(); "
                                    aria-expanded="true" aria-controls="collapseOne6" data-expandable="false">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">

                                            {{'Day' | translate}} : {{counterDay=$index+1}}
                                            <!-- <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i> -->

                                        </h4>

                                    </div>
                                </a>
                                <div ng-show="n == true" id="collapseOne6" class="panel-collapse collapse in"
                                    role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li
                                                ng-repeat="meal in [].constructor(CustomCtrl.mealsCount)  track by $index">
                                                <!--EVENT-->
                                                <div class="row events">
                                                    <div class="col-md-2"> <img src="/assets/img/meal.jpeg" alt="" />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h3>
                                                            <a ng-init="counterMeal=counterMeal+1;">{{'Meal' | translate}}
                                                                : {{counterMeal=$index+1}}
                                                            </a>
                                                        </h3>


                                                        <div class="progress-bar progress-bar-danger progress-bar-striped"
                                                            role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                                            aria-valuemax="100" style="width:'{{CustomCtrl.carbs}}%'">
                                                            60 (Calories) </div>
                                                    </div>


                                                    <br />
                                                    <!--SERVICES SECTION-->
                                                    <!--END SERVICES SECTION-->
                                                </div>
                                                <!--END EVENT-->

                                                <div ng-show="showDetails">
                                                    <div
                                                        class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                        <label for="first-name">{{'SelectItems' | translate}}</label>
                                                        <select required name="ddl{{counterDay}}{{counterMeal}}"
                                                            style="width:100% !important"
                                                            class="select-tags form-control pmd-select2-tags" multiple
                                                            ng-model="itemModel"
                                                            ng-change="getData(itemModel,counterDay,counterMeal);CustomCtrl.addItemToList(itemModel)"
                                                            ng-options="item as item.itemNameDictionary[selectedLanguage] 
                                            group by item.category.titleDictionary[selectedLanguage]
                                            for item  in CustomCtrl.ItemCategorized">
                                                        </select>
                                                        <div
                                                            ng-messages="stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$error">
                                                            <div
                                                                ng-show="stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$error.required && !stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$pristine">
                                                                {{'requiredErr' | translate}}</div>
                                                            <div
                                                                ng-show="(stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$error.minlength || stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$error.maxlength) && !stepTwoProgramForm.ddl{{counterDay}}{{counterMeal}}.$error.required">
                                                                {{'NameLengthError255' | translate}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="res-menu" ng-repeat="meal in itemModel">
                                                            <img src="/assets/img/meal.jpeg" alt="" />
                                                            <h3> {{meal.itemNameDictionary[selectedLanguage] | limitTo:10}}<span>{{meal.price}}</span>
                                                            </h3> <span
                                                                class="menu-item">{{meal.itemDescriptionDictionary[selectedLanguage] | limitTo:10}}</span>
                                                        </div>
                                                    </div>
                                                    <!-- <table class="table pmd-table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'Name' | translate}}</th>
                                                                <th>{{'carb' | translate}}</th>
                                                                <th>{{'calories' | translate}}</th>
                                                                <th>{{'protein' | translate}}</th>
                                                                <th>{{'costlbl' | translate}}</th>
                                                                <th>{{'Pricelbl' | translate}}</th>
                                                                <th>{{'vat' | translate}}</th>
                                                                <th>{{'Total' | translate}}</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="meal in itemModel">
                                                                <td data-title="Name" width="15%">
                                                                    {{meal.itemNameDictionary[selectedLanguage] | limitTo:10}}
                                                                </td>
                                                                <td data-title="Description">{{meal.carbs}}</td>
                                                                <td data-title="Description">{{meal.calories}}</td>
                                                                <td data-title="Description">{{meal.protein}}</td>
                                                                <td data-title="Description">{{meal.cost}}</td>
                                                                <td data-title="Description">{{meal.price}}</td>
                                                                <td data-title="Description">{{meal.vat}}</td>
                                                                <td data-title="totalPrice">{{meal.totalPrice}}</td>

                                                            </tr>
                                                        </tbody>
                                                    </table> -->
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>


            <!--END TYPOGRAPHY SECTION-->
        </div>
    </div>

</div>
<!--TOP SECTION-->