<div class="hom-com">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">

					<div class="hp-section">
						<div class="hp-sub-tit">
							<h4> <span>{{'orderdetails' | translate}}</span></h4>
							<p>{{'thanks' | translate}}</p>
						</div>
						<div class="hp-over">
							<ul class="nav nav-tabs hp-over-nav">

								<li>
									<a data-toggle="tab" data-target="#menu1">

										<span class="tab-hide">{{'Overview' | translate}}</span>
									</a>
								</li>
							</ul>
							<div class="tab-content">

								<div id="menu1" class="tab-pane fade in active tab-space">
									<div class="hp-main-overview">
										<ul>
											<li>{{'OrderCode' | translate}} :
												<span>#{{CustomCtrl.order.orderCode}}</span>
											</li>
											<li>{{'Pricelbl' | translate}}: <span>{{CustomCtrl.order.price | number:2}} SR</span>
											</li>
											<li>{{'Ordertype' | translate}} :
												<span> ( {{CustomCtrl.order.isProgram ? 'Program' : 'Meal'}} ) </span>
												<span>{{CustomCtrl.order.isDelivery ? 'Delivery' : 'PickUp'}}</span>

											</li>

											<li>
												{{'ProgramDaysCount' | translate}} :
												<span>{{CustomCtrl.daysCount}}</span>
											</li>
											<li>
												{{'MealPerDay' | translate}} : <span>{{CustomCtrl.mealsCount}}</span>

											</li>
											<li> {{'startDate' | translate}}: <span>{{CustomCtrl.startDate}}</span>
											</li>
											<li>{{'status' | translate}} :
												<span
													class="ov-yes">{{CustomCtrl.order.orderStatus ? 'Waiting' : 'Open'}}</span>

												<!-- <span class="ov-yes" ng-if="{{CustomCtrl.order.type ==0}}">
													Open
												</span> -->

												<!-- <span class="ov-yes">{{CustomCtrl.order.price}}</span> -->
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<!--=========================================-->
				<div class="hp-call hp-right-com">
					<div class="hp-call-in">
						<img src="/assets/img/cropped-favicon-32x32.png" alt="">
						<!-- <img src="/assets/img/db4.png" alt=""> -->
						<h3><span>Check Availability. Call us!</span> +966506139999</h3> <small>We are available 24/7
							Monday to Sunday</small>
					</div>
				</div>
				<!--=========================================-->
				<!--=========================================-->
				<!--=========================================-->
				<!--=========================================-->

				<!--=========================================-->
			</div>
		</div>
	</div>
</div>