<div>
    <div style="margin-bottom:10px">
        <button style="background-color: #e4e5e6;color: black!important;" ng-click="$state.go('newMeal',{categoryId: $stateParams.categoryId});"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddMealBtn' | translate}}</button>
    </div>

    <div ng-if="mealCtrl.meals.results.length == 0">
        <span>{{'NoMealAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="mealCtrl.meals.results.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'DescriptionLbl' | translate}}</th>
                        <th>{{'status' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="meal in mealCtrl.meals.results">
                        <td data-title="Name" width="15%">{{meal.mealNameDictionary[selectedLanguage] | limitTo:10}}</td>
                        <td data-title="Description">{{meal.mealDescriptionDictionary[selectedLanguage] | limitTo:50}}</td>

                        <td>
                            <!-- <input type="checkbox" ng-model="meal.isActive" name="name" ng-click="mealCtrl.UpdateStatus(meal)"
                                title="click To Update user status"> -->

                            <div class="btn-switch" ng-class="{'btn-switch--on':meal.isActive}" ng-model="meal.isActive"
                                ng-click="mealCtrl.UpdateStatus(meal)">

                                <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':meal.isActive}"
                                    ng-model="meal.isActive" ng-click="mealCtrl.UpdateStatus(meal)">
                                </div>

                        </td>
                        <td width="10%">
                            <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editMeal',{categoryId:meal.categoryId,mealId:meal.mealId});">mode_edit</i>


                            <!-- <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editMeal',{mealId:meal.mealId,mealId:meal.mealId});">mode_edit</i> -->
                            <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="mealCtrl.openDeleteDialog(meal,meal.mealNameDictionary[selectedLanguage],meal.mealId)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center;" paging page="1" page-size="10" total="mealCtrl.meals.totalCount" paging-action="mealCtrl.changePage( page)"
            flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
        </div>
    </div>


</div>