<div>
    <div style="margin-bottom:10px">
        <button style="background-image: linear-gradient(251deg,#f3c534 5%,#9a3ea6 68%)!important;" ng-click="$state.go('newRole');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddBtn'
            | translate}}</button>

    </div>

    <div ng-if="RoleList.results.length == 0">
        <span>{{'NoRolesAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="RoleList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in RoleList.results">
                    <td data-title="Name">{{role.titleDictionary[selectedLanguage]}}</td>
                    <td>
                        <div class="btn-switch" ng-class="{'btn-switch--on':role.isActive}" ng-model="role.isActive"
                            ng-click="RoleCtrl.UpdateRole(role)">

                            <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':role.isActive}"
                                ng-model="role.isActive" ng-click="RoleCtrl.UpdateRole(role)">
                            </div>
                    </td>

                    <td width="30%" ng-show="!role.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editrole',{roleId: role.roleId});">mode_edit</i>
                        <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="RoleCtrl.openDeleteDialog(role,role.titleDictionary[selectedLanguage],role.roleId)">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div>
</div>