<form class="form-horizontal" name="newProgram3Form">

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramPrice' | translate}}</label>
        <input disabled type="number" class="mat-input form-control" name="programPrice" ng-model="addProgramCtrl.ProgramPrice">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramCost' | translate}}</label>
        <input required type="number" class="mat-input form-control" name="programCost" ng-model="addProgramCtrl.ProgramCost">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramVAT' | translate}}</label>
        <input required type="number" class="mat-input form-control" name="programVAT" ng-model="addProgramCtrl.ProgramVAT">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramDiscount' | translate}}</label>
        <input required type="number" class="mat-input form-control" name="programDiscount" ng-model="addProgramCtrl.ProgramDiscount">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramTotalPrice' | translate}}</label>
        <input required type="number" class="mat-input form-control" name="programTotalPrice" ng-model="addProgramCtrl.ProgramTotalPrice">
    </div>

</form>