
<!-- Inbox like Accordion -->
<form name="newCategoryForm">
    <div class="row">
        <div class="col-md-2 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'ProgramDaysCount' | translate}}</label>
            <input required type="number" class="mat-input form-control" name="programDaysCount" ng-model="addProgramCtrl.ProgramDaysCount"
                ng-minlength="1" ng-maxlength="2">
            <div ng-messages="newProgramForm.programDaysCount.$error" class="error">
                <div ng-if="newProgramForm.programDaysCount.$error.required && !newProgramForm.programDaysCount.$pristine">{{'ProgramDaysCountReqError'
                    | translate}}</div>
                <div ng-if="(newProgramForm.programDaysCount.$error.minlength || newProgramForm.programDaysCount.$error.maxlength)">{{'ProgramDaysCountLengthError'
                    | translate}}</div>
            </div>
        </div>

        <div class="col-md-2 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'MealPerDay' | translate}}</label>
            <input required type="number" class="mat-input form-control" name="mealPerDay" ng-model="addProgramCtrl.MealPerDay"
                ng-minlength="1" ng-maxlength="2">
            <div ng-messages="newProgramForm.mealPerDay.$error" class="error">
                <div ng-if="newProgramForm.mealPerDay.$error.required && !newProgramForm.mealPerDay.$pristine">{{'MealPerDayReqError'
                    | translate}}</div>
                <div ng-if="(newProgramForm.mealPerDay.$error.minlength || newProgramForm.mealPerDay.$error.maxlength)">{{'MealPerDayLengthError'
                    | translate}}</div>
            </div>
        </div>
        <div class="col-md-2 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'ProgramDiscount' | translate}}</label>
            <input required type="number" ng-change="discountChange();" class="mat-input form-control" name="programDiscount"
                ng-model="addProgramCtrl.ProgramDiscount" ng-minlength="1" ng-maxlength="5">
            <div ng-messages="newProgramForm.programDiscount.$error" class="error">
                <div ng-if="newProgramForm.programDiscount.$error.required && !newProgramForm.programDiscount.$pristine">{{'ProgramDiscountReqError'
                    | translate}}</div>
                <div ng-if="(newProgramForm.programDiscount.$error.minlength || newProgramForm.programDiscount.$error.maxlength)">{{'ProgramDiscountLengthError'
                    | translate}}</div>
            </div>
        </div>

        <div class="col-md-6 form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
            <label for="first-name">{{'SelectExcludeDays' | translate}}</label>
            <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple
                ng-model="addProgramCtrl.SelectedDays" ng-options="day as day.dayNameDictionary[selectedLanguage] for day in addProgramCtrl.dayList">

            </select>
        </div>

    </div>


    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'Breakfast' | translate}}
            <input type="checkbox" ng-model="addProgramCtrl.IsBreakFast">
        </label>
        <br />
        <label for="first-name">{{'Snack' | translate}}
            <input type="checkbox" ng-model="addProgramCtrl.IsSnack">
        </label>
    </div>

    <div ng-init="counterDay = 0; counterMeal = 0">
        <div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6" role="tablist" aria-multiselectable="true">
            <div ng-repeat="n in [].constructor(addProgramCtrl.ProgramDaysCount)  track by $index" class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a ng-init="counterDay=counterDay+1;" data-toggle="collapse" data-parent="#accordion6" ng-init="n=false"
                            ng-click="n=!n;" aria-expanded="true" aria-controls="collapseOne6" data-expandable="false">
                            {{'Day' | translate}} #{{counterDay=$index+1}}
                            <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                        </a>
                    </h4>
                </div>
                <div ng-show="n == true" id="collapseOne6" class="panel-collapse collapse in" role="tabpanel"
                    aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="meal in [].constructor(addProgramCtrl.MealPerDay)  track by $index">
                                <h4>
                                    <a ng-init="counterMeal=counterMeal+1;" ng-click="showDetails = ! showDetails; addProgramCtrl.showDDL(); ">{{'Meal'
                                        | translate}} #{{counterMeal=$index+1}}</a>
                                </h4>
                                <div ng-show="showDetails">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                        <label for="first-name">{{'SelectItems' | translate}}</label>
                                        <select required name="ddl{{counterDay}}{{counterMeal}}" style="width:100% !important"
                                            class="form-control select-add-tags pmd-select2-tags" multiple ng-model="itemModel"
                                            ng-change="getData(itemModel,counterDay,counterMeal)" ng-options="item as item.itemNameDictionary[selectedLanguage] 
                                        group by item.category.titleDictionary[selectedLanguage]
                                        for item  in itemsssPrepService">
                                        </select>
                                        <div ng-messages="newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$error">

                                            <div ng-show="newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$error.required && !newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$pristine">{{'requiredErr'
                                                | translate}}</div>
                                            <div ng-show="(newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$error.minlength || newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$error.maxlength) && !newCategoryForm.ddl{{counterDay}}{{counterMeal}}.$error.required">{{'NameLengthError255'
                                                | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button style="background-color: #e4e5e6;color: black!important;" ng-disabled="newCategoryForm.$invalid" class="btn pmd-ripple-effect btn-primary"
        type="button" ng-click="addProgramCtrl.gotoStep(3)">
        {{'next' | translate}}</button>

</form>
<!-- 
<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
            }
        });
    });
</script> -->