<form class="form-horizontal" name="newProgram3Form">

    <br>

    <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramPrice' | translate}}</label>
        <input disabled type="number" class="mat-input form-control" name="programPrice" ng-model="addProgramCtrl.ProgramPrice">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramCost' | translate}}</label>
        <input disabled type="number" class="mat-input form-control" name="programCost" ng-model="addProgramCtrl.ProgramCost">
    </div>

    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
        <label for="first-name">{{'ProgramVAT' | translate}}</label>
        <input disabled type="number" class="mat-input form-control" name="programVAT" ng-model="addProgramCtrl.ProgramVAT">
    </div> -->

    <div class="row">
        <div class="col-md-6">
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'ProgramDiscount' | translate}}</label>
                <input minlength="1" maxlength="3" ng-change="discountChange();" type="number" class="mat-input form-control" name="programDiscount" ng-model="addProgramCtrl.ProgramDiscount">
            </div>
            <div ng-messages="newProgram3Form.programDiscount.$error" class="error">
                <div ng-if="(newProgram3Form.programDiscount.$error.minlength || newProgram3Form.programDiscount.$error.maxlength)">{{'programDiscountLengthError' | translate}}</div>
            </div>
        </div>
    </div>

    <!-- {{addProgramCtrl.ProgramTotalPriceBefore}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'PriceBeforeDiscount' | translate}}</label>
                <input disabled type="number" class="mat-input form-control" name="priceBeforeDiscount" ng-model="addProgramCtrl.ProgramTotalPriceBefore">
            </div>
        </div>
    </div>

    <!-- {{addProgramCtrl.ProgramTotalPrice}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                <label for="first-name">{{'PriceAfterDiscount' | translate}}</label>
                <input disabled type="number" class="mat-input form-control" name="priceAfterDiscount" ng-model="addProgramCtrl.ProgramTotalPrice">
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <!-- || (addProgramCtrl.Setting.minNoDaysPerProgram > addProgramCtrl.ProgramDaysCount) -->
            <button style="background-color: #e4e5e6;color: black!important;" ng-disabled="(addProgramCtrl.currentStep != addProgramCtrl.steps.length)"
                class="btn btn-success" name="next" type="button" ng-click="addProgramCtrl.AddNewProgram()">
                <i class="fa fa-floppy-o"></i>{{'Save' | translate}}</button>
        </div>
    </div>
</form>