<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
            }
        });
    });
</script>

<!-- Inbox like Accordion -->

<div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6" role="tablist" aria-multiselectable="true">
    <div ng-repeat="n in [].constructor(addProgramCtrl.ProgramDaysCount)  track by $index" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion6" ng-init="n=false" ng-click="n=!n" aria-expanded="true" aria-controls="collapseOne6"
                    data-expandable="false"> {{'Day' | translate}} #{{$index+1}}
                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                </a>
            </h4>
        </div>
        <div ng-show="n == true" id="collapseOne6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li ng-repeat="meal in [].constructor(addProgramCtrl.MealPerDay)  track by $index">
                        <h4>
                            <a ng-click="showDetails = ! showDetails">{{'Meal' | translate}} #{{$index+1}}</a>
                        </h4>
                        <div ng-show="showDetails">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label for="first-name">{{'SelectItems' | translate}}</label>
                                <select style="width:100% !important" class="form-control select-add-tags pmd-select2-tags" multiple ng-model="addProgramCtrl.SelectedItems"
                                    ng-options="item as item.groupName for item in addProgramCtrl.itemList">

                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Accordion with No Space example end -->