<div>
    <div ncy-breadcrumb></div>
    <div style="margin-bottom:10px">
        <button ng-init="isAdd = false" ng-click="isAdd = !isAdd"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>

    </div>

    <div class="row" ng-if="isAdd == true">
        <div id="wizard-container">
            <div id="wizard-step-container">
                <ul class="nav nav-pills nav-justified">
                    <li ng-repeat="step in programCtrl.steps" ng-class="{'active':step.step == programCtrl.currentStep}">
                        <a ng-click="programCtrl.gotoStep(step.step)" href="">{{step.name}}</a>
                    </li>
                </ul>
            </div>

            <div id="wizard-content-container">
                <ng-include src="programCtrl.getStepTemplate()"></ng-include>
            </div>

            <div id="wizard-navigation-container">
                <div class="pull-right">
                    <span class="btn-group">
                        <button ng-disabled="programCtrl.currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="programCtrl.gotoStep(programCtrl.currentStep - 1)">
                            <i class="fa fa-arrow-left"></i>{{'PreviousStep' | translate}}</button>
                        <button ng-disabled="programCtrl.currentStep >= programCtrl.steps.length" class="btn btn-primary" name="next" type="button"
                            ng-click="programCtrl.gotoStep(programCtrl.currentStep + 1)">{{'NextStep' | translate}}
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </span>
                    <button ng-disabled="programCtrl.currentStep != programCtrl.steps.length" class="btn btn-success" name="next" type="button"
                        ng-click="programCtrl.save()">
                        <i class="fa fa-floppy-o"></i>{{'Save' | translate}}</button>
                </div>
            </div>

        </div>
    </div>

    <!-- <div ng-if="AreaList.results.length == 0">
        <span>{{'NoAreasAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="AreaList.results.length > 0">
        <div class="table-responsive"></div>
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'Branch' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="Area in AreaList.results">
                    <td data-title="Name">{{Area.titleDictionary[selectedLanguage]}}</td>
                    <td>
                        <button ng-click="$state.go('newBranch',{countryId: $stateParams.countryId,regionId: $stateParams.regionId,cityId:$stateParams.cityId,areaId: Area.areaId});"
                            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNewBranch' | translate}}</button>
                        <span href="javascript:void(0);" ng-click="Area.show=!Area.show;AreaCtrl.showMore($event)" ng-show="Area.branches.length != 0"
                            class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand">
                            <i class="material-icons md-dark pmd-sm"></i>
                        </span>
                    </td>

                    <td width="30%" ng-show="!Area.isStatic">
                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editArea',{countryId: $stateParams.countryId,regionId: $stateParams.regionId,cityId:$stateParams.cityId,areaId: Area.areaId});">mode_edit</i>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="Area.show">
                    <td>
                        <table class="table pmd-table table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Name' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Branch in Area.branches">
                                    <td data-title="Name">{{Branch.titleDictionary[selectedLanguage]}}</td>
                                   
                                    <td width="30%" ng-show="!Branch.isStatic">
                                        <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editBranch',{countryId: $stateParams.countryId,regionId: $stateParams.regionId,cityId:$stateParams.cityId,areaId: Area.areaId,branchId: Branch.branchId});">mode_edit</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount" paging-action="changePage(page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
    </div> -->
</div>