<div class="inn-body-section pad-bot-55">
    <div class="container">
        <div class="row">

            <div class="head-typo typo-com collap-expand book-form inn-com-form" ng-if="!isLoggedIn()">
                <h2>Login </h2>

                <form ng-submit="submit(username,password)" name="loginForm">
                    <div class="pmd-card-body">
                        <!-- <div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting
                        again. </div> -->
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="inputError1" class="control-label pmd-input-group-label">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i
                                        class="material-icons md-dark pmd-sm">perm_identity</i>
                                </div>
                                <input type="text" class="form-control" id="exampleInputAmount" name="username"
                                    ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" required
                                    ng-model="username" ng-change="reset()">

                            </div>
                            <span class="error" ng-show="loginForm.username.$error.pattern">{{'WrongMail' | translate}}
                            </span>
                            <div ng-messages="loginForm.email.$error">
                                <div ng-if="loginForm.username.$error.required && !loginForm.username.$pristine">{{'EmailLengthError'
                            | translate}}</div>
                            </div>
                        </div>

                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i>
                                </div>
                                <input required type="password" name="password" ng-model="password" ng-change="reset()"
                                    class="form-control" ng-minlength="8" ng-maxlength="25">

                            </div>

                            <span class="error" ng-show="loginForm.password.$error.pattern">{{'WrongMail' | translate}}
                            </span>
                            <div
                                ng-if="(loginForm.password.$error.minlength || loginForm.password.$error.maxlength) && !loginForm.password.newPassword.$error.required">
                                Password
                                length must be 8-25 char.</div>
                        </div>
                    </div>
                    <div ng-if="invalidLoginInfo" class="loginFailed">
                        <span>Incorrect username or password.</span>
                    </div>
                    <div ng-if="inActiveUser" class="loginFailed">
                        <span>Your Account Is Disabled, Please contact to administrator.</span>
                    </div>
                    <div ng-if="inActiveNotClient" class="loginFailed">
                        <span>You are admin can't login herre, Please contact to administrator.</span>
                    </div>



                    <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                        <button style="background-color: #e4e5e6;color: black!important;"
                            ng-disabled="loginForm.$invalid " class="btn pmd-ripple-effect btn-primary" type="submit">
                            {{'Login' | translate}}</button>

                        <button class="btn pmd-ripple-effect btn-primary" type="button" ng-click="Register()">
                            {{'Register' | translate}}</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>