	
	
	<!--HEADER SECTION-->
	<section>
	
		<!--TOP SECTION-->
		<div class="inn-banner" style="background: url(http://mezab-al-rahma.azurewebsites.net/api/Templates/{{home.templateId}}/Image) no-repeat">
			<div class="container">
				<div class="row">
					<h4>{{'AboutUs' | translate}}</h4>
					
					<ul>
						<li><a href="#">{{'Home'| translate}}</a>
						</li>
						<li><a href="#">{{'AboutUs' | translate}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="inn-body-section">
			<div class="container">
				<div class="row">
					<div class="page-head">
						<!-- <h2>{{aboutUs.headerDictionary[selectedLanguage]}}</h2> -->
						<h2>{{'AboutUs' | translate}}</h2>
						<div></div>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>{{aboutUs.titleDictionary[selectedLanguage]}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="about-left">
							<h2>{{aboutUs.subTitleDictionary[selectedLanguage]}}<span> {{aboutUs.titleColoredDictionary[selectedLanguage]}}</span></h2>
							<h4>{{aboutUs.boldArticleDictionary[selectedLanguage]}}</h4>
							<p>{{aboutUs.descriptionDictionary[selectedLanguage]}}</p>
							<a>{{'Mobile' | translate}} {{contactUs.companyNumber}}</a> </div>
					</div>
					<div class="col-md-6">
						<div class="about-right"> <img ng-src="http://mezab-al-rahma.azurewebsites.net/api/Templates/{{aboutUs.templateId}}/Image" alt=""> </div>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
		
	</section>
	<!--END HEADER SECTION-->

	<!--ALL SCRIPT FILES-->
	<!-- <script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
	<script src="js/custom.js"></script> -->
