
<!--HEADER SECTION-->
<section class="main" ng-style="style()">
	<!--TOP SECTION-->
	<div class="hom-body-section">
		<div class="container">
			<div class="row">
				<div class="home-bod">
					<div class="home-bod-1">
						<h4><span>{{home.coloredTitleDictionary[selectedLanguage]}}</span> {{home.titleDictionary[selectedLanguage]}}</h4>
						<h2>{{home.subTitleDictionary[selectedLanguage]}}</h2>
						<p>{{home.descriptionDictionary[selectedLanguage]}}</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--TOP SECTION-->
</section>
<!--END HEADER SECTION-->
