<script>
    $(function () {
        var today = new Date();
        var tomorrow = new Date();
        $('#startdate').datepicker(
            {
                minDate: tomorrow.setDate(today.getDate() + 1)
            }
        ).on('dp.change', function (e) {
            debugger;
            angular.element(document.getElementById('startdate')).scope().dateChange();
        });
    });
</script>

<!--HEADER SECTION-->

<section>
    <!--TOP SECTION-->
    <div class="menu-section">
        <div class="container">

        </div>
    </div>
    <!--TOP SECTION-->
    <div class="hp-banner">
        <img src="images/detailed-banner.jpg" alt=""> </div>
    <!--END HOTEL ROOMS-->
    <!--CHECK AVAILABILITY FORM-->
    <!-- <div class="check-available">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inn-com-form">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12 avail-title">
                                    <h4>Check Availability</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <select>
                                        <option value="" disabled selected>Select Room</option>
                                        <option value="1">Master Suite</option>
                                        <option value="2">Mini-Suite</option>
                                        <option value="3">Ultra Deluxe</option>
                                        <option value="4">Luxury</option>
                                        <option value="5">Premium </option>
                                        <option value="6">Normal</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 m4 l2">
                                    <select>
                                        <option value="" disabled selected>No of adults</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="1">4</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 m4 l2">
                                    <select>
                                        <option value="" disabled selected>No of childrens</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="1">4</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 m4 l2">
                                    <input type="text" id="from" name="from">
                                    <label for="from">Arrival Date</label>
                                </div>
                                <div class="input-field col s12 m4 l2">
                                    <input type="text" id="to" name="to">
                                    <label for="to">Departure Date</label>
                                </div>
                                <div class="input-field col s12 m4 l2">
                                    <input type="submit" value="submit" class="form-btn"> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--END CHECK AVAILABILITY FORM-->
    <div class="hom-com">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="hp-section">
                            <div class="hp-sub-tit">
                                <h4>
                                    <span>{{progDetailsPrepService.programNameDictionary[selectedLanguage]}}</span>
                                </h4>

                            </div>
                            <div class="hp-amini detai-2p">
                                <p>{{progDetailsPrepService.programDescriptionDictionary[selectedLanguage]}}</p>
                            </div>
                        </div>

                        <div class="hp-section">
                            <div class="hp-sub-tit">
                                <h4>
                                    <span>{{'ProgramDetails' | translate}}</span>
                                </h4>
                                <!-- <p>Aliquam id tempor sem. Cras molestie risus et lobortis congue. Donec id est consectetur,
                                    cursus tellus at, mattis lacus.</p> -->
                            </div>
                            <div class="hp-over">
                                <ul class="nav nav-tabs hp-over-nav">
                                    <li class="active">
                                        <a data-toggle="tab" style="cursor: pointer" ng-click="showDetails();">
                                            <img src="images/icon/a9.png" alt="">
                                            <span class="tab-hide">{{'Details' | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" style="cursor: pointer" ng-click="showSummary();">
                                            <img src="images/icon/a8.png" alt="">
                                            <span class="tab-hide">{{'Summary' | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" style="cursor: pointer" ng-click="showOrder();">
                                            <img src="images/icon/a8.png" alt="">
                                            <span class="tab-hide">{{'Order' | translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div ng-if="showDet == true" id="home" class="tab-pane fade in active tab-space">
                                        <div ng-init="counterDay = 0; counterMeal = 0">
                                            <div class="panel-group pmd-accordion pmd-accordion-inbox" id="accordion6" role="tablist" aria-multiselectable="true">
                                                <div ng-repeat="n in [].constructor(progDetailsPrepService.programDays)  track by $index" class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a ng-init="counterDay=counterDay+1;" data-toggle="collapse" data-parent="#accordion6" ng-init="n=false" ng-click="n=!n;"
                                                                aria-expanded="true" aria-controls="collapseOne6" data-expandable="false">
                                                                {{'Day' | translate}} #{{counterDay=$index+1}}
                                                                <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div ng-show="n == true" id="collapseOne6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <ul>

                                                                <li ng-repeat="meal in [].constructor(progDetailsPrepService.noOfMeals)  track by $index">
                                                                    <h4>
                                                                        <a ng-init="counterMeal=counterMeal+1;" ng-click="showDetails = ! showDetails;">{{'Meal' | translate}} #{{counterMeal=$index+1}}</a>
                                                                        <!-- <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="progDetailsPrepService.ShowProgramMeal(progDetailsPrepService.programDetails.programId, counterDay, counterMeal)">mode_edit</i> -->
                                                                    </h4>
                                                                    <div ng-show="showDetails">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                            <label for="first-name">{{'Items' | translate}}</label>
                                                                            <ul>
                                                                                <li ng-repeat="detail in progDetailsPrepService.programDetails | filter:{dayNumber:counterDay, mealNumberPerDay: counterMeal} ">
                                                                                    <div class="res-menu" ng-repeat="item in progDetailsPrepService.items |filter :{itemId:detail.itemId}">
                                                                                        <!-- {{item.itemNameDictionary[selectedLanguage]}} -->
                                                                                        <img src="/assets/img/meal.jpeg" alt="" />
                                                                                        <h3> {{item.itemNameDictionary[selectedLanguage]
                                                                                            | limitTo:10}}
                                                                                            <span>{{item.price}}</span>
                                                                                        </h3>
                                                                                        <span class="menu-item">{{item.itemDescriptionDictionary[selectedLanguage]
                                                                                            | limitTo:10}}</span>
                                                                                    </div>

                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="showSum == true" id="menu1" class="tab-pane fade in active tab-space">
                                        <div class="hp-main-overview">
                                            <ul>
                                                <li>{{'Fats' | translate}}:
                                                    <span>{{fats}}</span>
                                                </li>
                                                <li>{{'Carbs' | translate}}:
                                                    <span>{{carbs}}</span>
                                                </li>
                                                <li>{{'Protein' | translate}}:
                                                    <span>{{protein}}</span>
                                                </li>
                                                <li>{{'Calories' | translate}}:
                                                    <span>{{calories}}</span>
                                                </li>
                                                <li>{{'TotalPrice' | translate}}:
                                                    <span>{{progDetailsPrepService.price}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div ng-if="showOrd == true" id="menu2" class="tab-pane fade in active tab-space">
                                        <form name="orderForm">
                                            <!-- {{itemDatetime}} -->
                                            <div class="col-md-6">
                                                <h5>{{'OrderDate' | translate}}</h5>
                                                <input name="itemDatetime" required ng-model="itemDatetime" type="text" id="startdate" 
                                                class="form-control" ng-change="dateChange();" />
                                            </div>


                                            <div class="col-md-12">
                                                <h5>{{'OrderType' | translate}}</h5>
                                                <p>
                                                    <input ng-model="orderType.type" name="group1" type="radio" id="test1" value="delivery" />
                                                    <label for="test1">{{'Delivery' | translate}}</label>
                                                </p>
                                                <p>
                                                    <input ng-model="orderType.type" name="group1" type="radio" id="test2" value="pickup" />
                                                    <label for="test2">{{'PickUp' | translate}}</label>
                                                </p>

                                                <div ng-if="orderType.type == 'delivery'" class="row form-group">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'SelectAddress' | translate}}</label>
                                                                <!-- {{addresses.address}} -->
                                                                <div ng-repeat="address in userAddresses">
                                                                    <p>
                                                                        <input ng-change="addressInfo(address)" name="group2" type="radio" id="test{{address.addressId}}" ng-model="addresses.address"
                                                                            value="{{address.addressId}}" />
                                                                        <label for="test{{address.addressId}}">{{address.appartmentNo}}, {{address.description}},
                                                                            {{'Floor' | translate}} {{address.floor}}</label>
                                                                    </p>
                                                                    <!-- <label>
                                                                        <input ng-change="addressInfo(address)" type="radio" ng-model="addresses.address" value="{{address.addressId}}"> {{address.appartmentNo}}, {{address.description}},
                                                                        {{'Floor' | translate}} {{address.floor}}
                                                                    </label> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-6">
                                                        <div ng-show="orderType.type == 'pickup'">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'Country' | translate}}</label>
                                                                <select ng-required="orderType.type == 'pickup'" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                                                                    ng-change="countryChange()" ng-model="selectedCountryId"
                                                                    ng-options="group.countryId as group.titleDictionary[selectedLanguage] for group in counties">
                                                                </select>
                                                            </div>
                                                            <div ng-show=" selectedCountryId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'Region' | translate}}</label>
                                                                <select ng-required="orderType.type == 'pickup'" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                                                                    ng-change="regionChange()" ng-model="selectedRegionId" ng-options="group.regionId as group.titleDictionary[selectedLanguage] for group in regions">
                                                                </select>
                                                            </div>
                                                            <div ng-show=" selectedRegionId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'City' | translate}}</label>
                                                                <select ng-required="selectedRegionId > 0 && orderType.type == 'pickup'" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                                                                    ng-change="cityChange()" ng-model="selectedCityId" ng-options="group.cityId as group.titleDictionary[selectedLanguage] for group in cities">
                                                                </select>
                                                            </div>
                                                            <div ng-show=" selectedCityId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'Area' | translate}}</label>
                                                                <select ng-required=" selectedCityId > 0 && orderType.type == 'pickup'" style="width:100% !important" class="select-tags form-control pmd-select2-tags"
                                                                    ng-change="areaChange()" ng-model="selectedAreaId" ng-options="group.areaId as group.titleDictionary[selectedLanguage] for group in area">
                                                                </select>
                                                            </div>
                                                            <div ng-show=" selectedAreaId > 0" class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                                                <label for="first-name">{{'Branch' | translate}}</label>
                                                                <select ng-required=" selectedAreaId > 0  && orderType.type == 'pickup'" class="form-control select-with-search pmd-select2-tags"
                                                                    ng-change="branchChange()" ng-model="selectedBranchId" ng-options="a.branchId as a.titleDictionary[selectedLanguage] for a in branchList"></select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="input-field col s12 m4 l2">
                                                    <input type="submit" value="submit" class="form-btn" ng-click="Order()" ng-disabled="orderForm.$invalid || || addressValidation == false" >
                                                    <!-- ng-disabled="orderForm.$invalid || !dateIsValid || addressValidation == false" -->
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

</section>
<!--END HEADER SECTION-->